<a href="https://colab.research.google.com/github/HUFS-Programming-2022/Hyeryeong_202103342/blob/main/week_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 고급파이썬프로그래밍_9주차(0429)

- 중간고사 채점 중
- 채점 후 점수 공유
- 휴강(5/27) -> 보강(추후 재공지)
- 다음주부터는 퀴즈 x => 프로젝트

# CH08. 딕셔너리와 셋

## 1. Dictionary(딕트 dict)
- 가장 많이 사용하는 기능
- 영어사전이라고 생각하면, 단어: 뜻
- 키: 값 **
   - 값에 대응하는 key는 고유해야 한다 -> 키가 중복되면 안 된다.
- 키를 가지고 값을 찾기 때문에 순서가 없음 => 오프셋으로 항목 선택 불가 **
- 가변 객체 (수정, 추가, 삭제 가능)
- 타입: dict, dict()
- key는 대부분 str, 불변하는 파이썬의 어떤 타입될 수 있음(불리언,정수, 부동소수점, 튜플, 문자열 등)
- value에는 리스트, 튜플, 딕셔너리도 들어갈 수 있음.(다양한 자료가 들어갈 수 있음)

### 1-1. 생성
- 1. {key1: value1, key2: value2,...}
      - 중괄호 안에 콤마로 구분한 키:값 쌍을 지정
- 2. dict()
      - 인수와 값을 dict() 함수에 전달하여 생성
      - 인수 이름이 유효한 변수 이름이어야 함(공백, 예약어 x)
      - 콜론 사용 x

In [ ]:
# dictionary 생성 - 중괄호 or dict()
empty_dict = dict()
empty_dict2 = {}
empty_dict, empty_dict2

({}, {})

In [ ]:
# dictionary 생성 차이(교재 예시)
# 일반적인 방법
acme_customer = {'first': 'Wile', 'middle': 'E', 'last': 'Coyote'}
acme_customer

{'first': 'Wile', 'last': 'Coyote', 'middle': 'E'}

In [ ]:
acme_customer['first']

'Wile'

In [ ]:
# dict() 함수 사용 방법 - dict() 사용 시 인수 이름은 유효한 변수명이어야 함
acme_customer2 = dict(first = 'Wile', middle = 'E', last = 'Coyote')
acme_customer2

{'first': 'Wile', 'last': 'Coyote', 'middle': 'E'}

In [ ]:
# dictionary와의 비교 - set: key만 남은 dictionary
a = [1, 2, 3]
set(a)

{1, 2, 3}

In [ ]:
# set은 set()으로만 생성가능
b = set()
b

set()

In [ ]:
# dictionary의 특징1: 순서 없음 -> 인덱스 없음
a = [1, 2, 3]
a[0]

1

#### Quiz1. 출석부 딕셔너리로 만들기
[이름, 학번, 학과
제임스 202201 경영학과
줄리엣 202202 아랍어과
로버트 202203 ELLT과]

In [ ]:
# my answer
student_info = {'제임스': (202201, '경영학과'), '줄리엣': (202202, '아랍어과'), '로버트': (202203, 'ELLT학과')}
student_info

{'로버트': (202203, 'ELLT학과'), '제임스': (202201, '경영학과'), '줄리엣': (202202, '아랍어과')}

In [ ]:
student_info['제임스']

(202201, '경영학과')

In [ ]:
# another answer
attendance = dict(제임스 = [202201, '경영학과'], 줄리엣 = [202202, '아랍어과'], 로버트 = [202203, 'ELLT학과'])
attendance['제임스']

[202201, '경영학과']

### 1-2. 형변환
- dict() 함수 -> 두 값으로 이루어진 시퀀스를 딕셔너리로 변환

In [ ]:
# 두 항목의 리스트로 구성된 리스트 ex1을 딕셔너리로 변환
ex1 = [[20221, []], [3, 4], [5, 6]]
dict(ex1)

{3: 4, 5: 6, 20221: []}

In [ ]:
# 두 항목의 튜플로 구성된 리스트 ex2를 딕셔너리로 변환
ex2 = [(1, 2), (3, 4), (5, 6)]
dict(ex2)

{1: 2, 3: 4, 5: 6}

In [ ]:
# 두 항목의 리스트로 구성된 튜플도 딕셔너리로 변환 가능
ex3 = (['car', 'kia'], ['fruit', 'apple'], ['color', 'white'])
dict(ex3)

{'car': 'kia', 'color': 'white', 'fruit': 'apple'}

In [ ]:
# 두 문자열로 구성된 리스트, 튜플도 딕셔너리로 변환 가능
ex4 = [ 'aA', 'bB', 'cC' ]
dict(ex4)

{'a': 'A', 'b': 'B', 'c': 'C'}

In [ ]:
# 두 문자열 아니므로 불가
ex3 = ['abdd','bcdd','cddd']
dict(ex3)

ValueError: ignored

### 1-3. 항목 조회 & 변경
- 항목 조회
   - 1. 딕셔너리명[key]
      - 딕셔너리에 키가 없으면 오류 발생 -> in 이용하여 멤버십 테스트 먼저 해보기
   - 2. get()
      - 딕셔너리, 키, 옵션값 사용
      - 키 존재하면 그 값 얻음
      - 키 존재하지 않으면, None
      - 이때, 옵션값을 설정하여 출력할 수 있음
- 항목 변경
   - 키에 참조되는 항목에 값을 할당
       - 이미 존재하는 키 -> 값을 변경
       - 존재하지 않는 키 -> 새 값과 키가 dictionary에 추가됨

** 딕셔너리의 키들은 반드시 고유해야 함 -> 같은 키 두 번 저장하면 마지막 값으로 저장

In [ ]:
# 영국의 희극단 몬티 파이튼 멤버의 성을 key, 이름을 value로 하는 딕셔너리

pythons = {
    'Chapman': 'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael'
    }

In [ ]:
# 항목 조회 - Idle에 해당하는 value 검색
pythons['Idle']

'Eric'

In [ ]:
# index 안됨
# pythons[0]

In [ ]:
# 항목 변경 - 키에 값을 할당
pythons['Idle'] = 'Erica' 
pythons
# 이미 존재하는 키에 값을 할당했기 때문에 이전 값은 사라지고 새 값으로 대체됨

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [ ]:
pythons['Palin'] = 'Josh'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Palin': 'Josh'}

In [ ]:
# 항목 추가 
pythons['Kim'] = 'Laura'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Kim': 'Laura',
 'Palin': 'Josh'}

In [ ]:
# pythons['Lee']   # 코드 안에서 찾기 불가 -> 멤버십 연산자 사용하기

In [ ]:
# 멤버십 연산자 사용하여 True,False 확인 후 항목 조회
'Lee' in pythons

False

In [ ]:
# get()함수 사용했을 때, 없는 값이면 None(대화식 인터프리터는 아무것도 출력하지 않음)
pythons.get('Lee')

In [ ]:
 # 있는 값이면, 해당 값 반환
pythons.get('Kim', 0)

0

In [ ]:
# 없는 값이기 때문에 옵션값인 0 반환
pythons.get('Choi', 0)

0

### 1-4. keys(), values(), items()
- keys(): 모든 키 얻기
- values(): 모든 값 얻기
- items(): 모든 키, 값 얻기

In [ ]:
# keys() : 모든 키 얻기
pythons.keys()   
# 리스트 형식 아님(dict_keys()라는 형식) -> list()로 형변환
# list(pythons.keys())

dict_keys(['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Kim'])

In [ ]:
# values() : 모든 값 얻기
pythons.values()

dict_values(['Graham', 'John', 'Erica', 'Terry', 'Josh', 'Laura'])

In [ ]:
# items() : 모든 키, 값 얻기
# 리스트 컴프리헨션 이용해 딕셔너리 순회 시 사용
pythons.items()

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'Erica'), ('Jones', 'Terry'), ('Palin', 'Josh'), ('Kim', 'Laura')])

In [ ]:
# 인덱싱 지정 가능
[x[0] for x in pythons.items()]

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Kim']

#### Quiz2. 
- for loop 이용해서 animla:legs로 이루어진 딕셔너리 만들기

#### Quiz3.
- pythons에서 성: 이름 => 리스트컴프리헨션 이용해서 [(성 앞글자, 이름의 글자수)]

In [ ]:
# Quiz2.
animal =  'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8
empty = []

# my answer
for i in range(len(animal)):
  animal_dict = {animal[i] : legs[i]}
  empty.append(animal_dict)

empty

[{'cat': 4}, {'snake': 0}, {'monkey': 2}, {'ant': 4}, {'spider': 8}]

In [ ]:
# Correct answer
animal_dic = {}
for k, v in zip(animal, legs):
  animal_dic[k] = v

animal_dic

{'ant': 4, 'cat': 4, 'monkey': 2, 'snake': 0, 'spider': 8}

In [ ]:
# Quiz3.
# len(): 길이 얻기(딕셔너리에 있는 키-값 쌍의 개수 구하기)

[(k[0], len(v)) for (k, v) in pythons.items()]  # (k, v)

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 4), ('K', 5)]

### 1-5. 값 수정, 삭제, 복제
- 1. 결합하기
   - ** : 얕은 복사 수행, 딕셔너리 두 개 이상 결합 가능
   - update(): 한 딕셔너리의 기와 값들을 복사해 다른 딕셔너리에 결합
- 2. 삭제하기
   - del 딕셔너리명[key]
   - pop() 함수: 키로 항목 가져온 뒤 삭제
   - clear(): 모든 항목 삭제
   - 빈 딕셔너리 : 모든 항목 삭제
- 3. 복제하기
   - 할당: 딕셔너리 할당 -> 딕셔너리 참조하는 모든 이름에 변경된 딕셔너리 반영 
   - 얕은 복사|copy(): 딕셔너리 값 불변이면 작동
   - 깊은 복사|deepcopy()
- 4. 딕셔너리 비교
   - 비교 연산자(==, !=) 사용하여 딕셔너리 비교

In [ ]:
# pythons 딕셔너리의 멤버 정의
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Palin': 'Josh'}

In [ ]:
# 다른 사람들을 딕셔너리 others에 넣기
others = {
    'Marx' : 'Groucho',
    'Howard' : 'Moe'
}

In [ ]:
# pythons와 others 결합
pythons.update(others)

In [ ]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Howard': 'Moe',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Marx': 'Groucho',
 'Palin': 'Josh'}

In [ ]:
{**others, **pythons}  # pythons3 가능

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Howard': 'Moe',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Marx': 'Groucho',
 'Palin': 'Josh'}

In [ ]:
# 딕셔너리 두 개를 병합할 때, 두 딕셔너리에 같은 키:값 있다면 
# -> 두 번째 딕셔너리 값으로 병합됨
first = {'a': 'associate', 'b': 'break'}
second = {'b': 'born', 'c': 'circulate'}
first.update(second)
first

{'a': 'associate', 'b': 'born', 'c': 'circulate'}

In [ ]:
# 삭제
# del dictionary[key]
del pythons['Kim']
pythons

KeyError: ignored

In [ ]:
# pop(): 없는 값에 대한 값 설정 가능, get()과 비슷한 성질
pythons.pop('Marx', 0)

0

In [ ]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Howard': 'Moe',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Josh'}

In [ ]:
# clear() : 전체 삭제
pythons.clear()

In [ ]:
# 빈 딕셔너리 선언을 통해 전체 삭제
pythons = {}

In [ ]:
pythons

{}

In [ ]:
# copy
# 1. 할당
# 2. 얕은 복사
# 3. 깊은 복사

In [ ]:
# 1. 할당
a = {1:2, 2:3, 3:4}
b = a
a[1] = 10
a, b

({1: 10, 2: 3, 3: 4}, {1: 10, 2: 3, 3: 4})

In [ ]:
# 2. 얕은 복사
b = a.copy()
a[1] = 100
a, b

({1: 100, 2: 3, 3: 4}, {1: 10, 2: 3, 3: 4})

In [ ]:
a = {1: [2, 2, 2], 2: [1, 1, 1]}
b = a.copy()
a[1][0] = 100
a, b

({1: [100, 2, 2], 2: [1, 1, 1]}, {1: [100, 2, 2], 2: [1, 1, 1]})

In [ ]:
# 깊은 복사
import copy
b = copy.deepcopy(a)
a[1][0] = 9
a, b

({1: [9, 2, 2], 2: [1, 1, 1]}, {1: [100, 2, 2], 2: [1, 1, 1]})

In [ ]:
# 값 비교 : 크다 작다(x), 같다 다르다(o)
a != b

True

#### Quiz4
- 두 개 리스트를 딕셔너리로 만든다. {한국어: 영어}
- 명왕성 pluto 추가하기
- '성'으로 끝나지 않은 단어 삭제하기
    - del sdict['태양'] => 하드코딩 안됨
- sorted i) kor ii) eng

In [ ]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [ ]:
# correct answer1
solar_dict = dict()
for kor, eng in zip(solar_kor, solar_eng):
  solar_dict[kor] = eng

solar_dict['명왕성'] = 'pluto'

solar_system = {k:solar_dict[k] for k in solar_dict if k.endswith('성')}
sorted(solar_system.items(), key = lambda x: x[1])

[('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

In [ ]:
# correct answer2
solar_dict = dict()
for kor, eng in zip(solar_kor, solar_eng):
  solar_dict[kor] = eng

solar_dict['명왕성'] = 'pluto'

# 여기만 다름
solar = {k:v for k, v in solar_dict.items() if k.endswith('성')}
sorted(solar.items(), key = lambda x: x[1])

[('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

### 1-6. 딕셔너리 컴프리헨션
- {키_표현식:값_표현식 for 표현식 in 순회 가능한 객체}
- 정렬된 딕셔너리 순회 -> set() 사용
- 조건 추가 -> 기존 리스트컴프리헨션과 같이 if 사용

In [ ]:
accusation = {'room': 'ballroom', 'weapon' : 'lead pipe', 'person': 'Col.Mustard'}

for k, v in accusation.items():
  print(f'{k} has the contents {v}')

room has the contents ballroom
weapon has the contents lead pipe
person has the contents Col.Mustard

In [ ]:
letter = 'apple'
# {a: 1, p: 2,...}
{ch: letter. count(ch) for ch in set(letter)}  
# set()으로 중복요소 제거 및 정렬

{'a': 1, 'e': 1, 'l': 1, 'p': 2}

In [ ]:
vowels = 'aeiou'
word = 'onomatopoeia'

# 주어진 단어의 모음 세기
# vowels -> word 각각 기준 잡아서 dic compre 이용해서 만들기

#1. vowels 순회
vowels_count = {v: word.count(v) for v in vowels}
print(vowels_count)

{'a': 2, 'e': 1, 'i': 1, 'o': 4, 'u': 0}

In [ ]:
#2. word 순회 -> 자음 빼기   
word_list = {ch: word.count(ch) for ch in set(word) if ch in vowels}
print(word_list)

{'e': 1, 'a': 2, 'o': 4, 'i': 1}

## 2. Set
- ***딕셔너리의 키만 모아놓음 => 중복없음!(딕셔너리와 마찬가지로 각 키는 고유함)
- 수학의 집합 개념 => 교집합, 차집합, 합집합, ...
- 데이터 자료
- 순서없고, 인덱싱 없음

### 2-1. 셋 생성하기
- set() 함수 사용하거나 중괄호 안에 콤마로 구분된 값 넣기
- 셋은 순서와 상관없이 저장됨

**{}은 빈 딕셔너리를 생성, set 생성은 set()으로만 가능*

In [ ]:
# set 생성하기 - set()
empty = set()
empty1 = {}  # dict
empty, empty1

(set(), {})

In [ ]:
# set 생성 - 중괄호 안에 콤마로 구분된 값 넣기
a = {1, 2, 3}
type(a)

set

### 2-2. 변환하기
- 리스트, 문자열, 튜플, 딕셔너리에서 중복된 값 삭제하여 셋 생성 가능

In [3]:
# 리스트를 셋으로 변환
hero_set = set(['Thor', 'Ironman', 'Hurk', 'Hurk', 'Captain America', 'Thor'])
hero_set

{'Captain America', 'Hurk', 'Ironman', 'Thor'}

In [5]:
# 문자열을 셋으로 변환
str_set = set( 'character' )
str_set

{'a', 'c', 'e', 'h', 'r', 't'}

In [2]:
# 튜플을 셋으로 변환
color_set = set(('blue', 'yellow', 'green', 'red', 'blue', 'pupple', 'pupple', 'red'))
color_set

{'blue', 'green', 'pupple', 'red', 'yellow'}

In [6]:
# 딕셔너리에 set() 사용 -> 키만 사용
fruit_color_set = set({'bananna': 'yellow', 'grape': 'pupple', 'mango': 'yellow', 'durian': 'green'})
fruit_color_set

{'bananna', 'durian', 'grape', 'mango'}

### 2-3. 추가하기
- add() 활용하여 셋에 항목 추가

In [7]:
# add()로 셋에 항목 추가하기
hero_set.add('Black Widow')
hero_set

{'Black Widow', 'Captain America', 'Hurk', 'Ironman', 'Thor'}

### 2-4. 삭제하기
- remove() 활용하여 값으로 항목 삭제

In [8]:
# remove()로 셋에서 항목 삭제
color_set.remove('pupple')
color_set

{'blue', 'green', 'red', 'yellow'}

In [9]:
# discard() 활용하여 항목 삭제
color_set.discard('red')
color_set

{'blue', 'green', 'yellow'}

In [10]:
drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua', 'vodka'},
    'mahatten': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}

#1. vodka가 포함된 음료 골라내기
for k,v in drinks.items():
  if 'vodka' in v:
    print(k)

martini
black russian
white russian
screwdriver

In [11]:
#2. 보드카는 있는데 크림이나 버무스가 있으면 프린트하지 않기
{k for k,v in drinks.items() if 'vodka' in v and 'cream' not in v and 'vermouth' not in v}

{'black russian', 'screwdriver'}

In [14]:
#2에 대한 교재 예시(for문 사용)
for k, v in drinks.items():
  if 'vodka' in v and not ('vermouth' in v or 'cream' in v):
    print(k)

black russian
screwdriver

### 2-5. 콤비네이션과 연산자
- 교집합 | intersection
    - `&` 연산자와 intersection() 메서드 사용
- 합집합 | union
    - `|` 연산자와 union() 메서드 사용
- 차집합 | difference
    - `-` 연산자와 difference() 메서드 사용

In [15]:
a = {1, 2, 3}
b = {2, 3, 4}

# 교집합: intersection
a.intersection(b)   # a & b

{2, 3}

In [16]:
# 합집합: union
a.union(b)   # a|b

{1, 2, 3, 4}

In [17]:
# 차집합: difference
a.difference(b)   # a - b

{1}

In [19]:
b.difference(a)    # b - a

{4}

In [20]:
'''
#2에 대한 교재 예시(for문 사용)
for k, v in drinks.items():
  if 'vodka' in v and not ('vermouth' in v or 'cream' in v):
    print(k)
'''
# 위 코드를 교집합 이용해서 바꾸기
for k, v in drinks.items():
  if 'vodka' in v and not v & {'vermouth', 'cream'}:
    print(k)

black russian
screwdriver

### 2-6. set comprehension
- 리스트, 딕셔너리 컴프리헨션과 같은 모양
- `{표현식 for 표현식 in 순회 가능한 객체}`
- for문, if문 사용 가능
    - `{표현식 for 표현식 in 순회 가능한 객체 if 테스트}`

In [23]:
# comprehension
{s for s in str_set}

{'a', 'c', 'e', 'h', 'r', 't'}

### 2-7. 불변 셋 생성하기
- frozenset() 함수와 인수로 순회 가능한 객체 사용

In [24]:
# frozenset (참고)
fs = frozenset([1, 2, 3])
fs

frozenset({1, 2, 3})

#### task
- 팀 단위로 task 
- 기한은 수요일 자정까지
- 100점, 70점, 50점,...

In [ ]:
# pylint -> 
# pydocstyle -> style

In [ ]:
!pip install pylint
!pylint example.py  # 3 / 10

!pip install pydocstyle
!pydocstyle exampla.py

Collecting pylint
  Downloading pylint-2.13.7-py3-none-any.whl (437 kB)
     |████████████████████████████████| 437 kB 9.4 MB/s
Collecting platformdirs>=2.2.0
  Downloading platformdirs-2.5.2-py3-none-any.whl (14 kB)
Collecting isort<6,>=4.2.5
  Downloading isort-5.10.1-py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 52.7 MB/s
Requirement already satisfied: tomli>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from pylint) (2.0.1)
Requirement already satisfied: typing-extensions>=3.10.0 in /usr/local/lib/python3.7/dist-packages (from pylint) (4.2.0)
Requirement already satisfied: dill>=0.2 in /usr/local/lib/python3.7/dist-packages (from pylint) (0.3.4)
Collecting astroid<=2.12.0-dev0,>=2.11.3
  Downloading astroid-2.11.3-py3-none-any.whl (250 kB)
     |████████████████████████████████| 250 kB 56.1 MB/s
Collecting mccabe<0.8,>=0.6
  Downloading mccabe-0.7.0-py2.py3-none-any.whl (7.3 kB)
Collecting typed-ast<2.0,>=1.4.0
  Downloading typed_ast-1.5.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (843 kB)
     |████████████████████████████████| 843 kB 46.3 MB/s
Collecting lazy-object-proxy>=1.4.0
  Downloading lazy_object_proxy-1.7.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (57 kB)
     |████████████████████████████████| 57 kB 5.0 MB/s
Requirement already satisfied: setuptools>=20.0 in /usr/local/lib/python3.7/dist-packages (from astroid<=2.12.0-dev0,>=2.11.3->pylint) (57.4.0)
Requirement already satisfied: wrapt<2,>=1.11 in /usr/local/lib/python3.7/dist-packages (from astroid<=2.12.0-dev0,>=2.11.3->pylint) (1.14.0)
Installing collected packages: typed-ast, lazy-object-proxy, platformdirs, mccabe, isort, astroid, pylint
Successfully installed astroid-2.11.3 isort-5.10.1 lazy-object-proxy-1.7.1 mccabe-0.7.0 platformdirs-2.5.2 pylint-2.13.7 typed-ast-1.5.3
************* Module example.py
example.py:1:0: F0001: No module named example.py (fatal)
Collecting pydocstyle
  Downloading pydocstyle-6.1.1-py3-none-any.whl (37 kB)
Requirement already satisfied: snowballstemmer in /usr/local/lib/python3.7/dist-packages (from pydocstyle) (2.2.0)
Installing collected packages: pydocstyle
Successfully installed pydocstyle-6.1.1
WARNING: Error in file exampla.py: [Errno 2] No such file or directory: 'exampla.py'

#### 교재 Quiz
- 1. 영어-프랑스어 사전을 의미하는 e2f 딕셔너리를 만들어 출력하기(영어 dog는 프랑스어 chien이고, cat은 chat, walrus는 morse이다.
- 2. e2f 딕셔너리에서 영어 walrus를 프랑스어로 출력하기
- 3. e2f 딕셔너리에서 f2e 딕셔너리라는 영어-프랑스어 사전을 만들기(items 메서드 사용)
- 4. e2f 딕셔너리를 사용해서 프랑스어 chien을 영어로 출력하기
- 5. e2f 딕셔너리의 영어 단어 키들을 출력하기
- 6. 딕셔너리 컴프리헨션으로 squares 딕셔너리 생성. range(10)을 키로 하고, 각 키의 제곱을 값으로 한다
- 7. 셋 컴프리헨션을 이용하여 range(10)에서 홀수 셋 만들기
- 8. zip() 사용해서 딕셔너리 생성. 키로('optimist', 'pessimist', 'troll') 튜플을 사용, 값으로 ('The glass is half full', 'The glass is half empty', 'How did you get a glass?') 튜플 사용
- 9. zip() 사용하여 다음 두 리스트를 짝으로 하는 movies 딕셔너리 만들기
 `titles = ['Creature of Habit', 'Crewel Fate']`
 `plots = ['A nun turns into a mon ster', 'A haunted yarn shop']`

In [25]:
# 1. 
e2f = dict(dog = 'chien', cat = 'chat', walrus = 'morse')
e2f

{'cat': 'chat', 'dog': 'chien', 'walrus': 'morse'}

In [26]:
# 2.
e2f['walrus']

'morse'

In [40]:
# 3.
f2e = {}

for k, v in e2f.items():
  f2e[v] = k

f2e

{'chat': 'cat', 'chien': 'dog', 'morse': 'walrus'}

In [47]:
# 4.
for k in e2f:
  if e2f[k] == 'chien':
    print(k)

dog

In [35]:
# 5.
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

In [36]:
# 6.
squares = {k: k ** 2 for k in range(10)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [38]:
# 7.
odd_set = {num for num in range(10) if num % 2 == 1}
odd_set

{1, 3, 5, 7, 9}

In [48]:
# 8.
character = ('optimist', 'pessimist', 'troll')
judgement = ('The glass is half full', 'The glass is half empty', 'How did you get a glass?')

ch_judge = {}
for key, value in zip(character, judgement):
  ch_judge[key] = value

ch_judge

{'optimist': 'The glass is half full',
 'pessimist': 'The glass is half empty',
 'troll': 'How did you get a glass?'}

In [41]:
# 9.
titles = ['Creature of Habit', 'Crewel Fate']
plots = ['A nun turns into a mon ster', 'A haunted yarn shop']

movies = dict()

for k, v in zip(titles, plots):
  movies[k] = v

movies

{'Creature of Habit': 'A nun turns into a mon ster',
 'Crewel Fate': 'A haunted yarn shop'}