# 고급파이썬프로그래밍(2주차)_3/11
 - `#`의 개수가 많아질수록 글씨의 크기가 작아짐
 - 다음주부터 조 구성 -> 조장은 퀴즈 결과에 따라 달라짐


## Ch02. Variables
### 자료형 변환하기
- int(정수)
- str(문자열)
- float(소수)
- bool(불리언)

In [1]:
a = 10  ## 문자, 기호 간의 띄어쓰기는 필수
type(a)  # a는 현재 정수

int

In [13]:
# int -> float으로 변환 
print(float(a))
type(float(a))

10.0

float

In [14]:
# int -> str으로 변환
print(str(a))
type(str(a))

10

str

In [5]:
# int -> bool으로 변환
print(bool(a))
type(bool(a))

True

In [7]:
# float -> int으로 변환
# 정수 변환 시 소수점 이하 값을 버린다.
int(10.6)

10

In [8]:
x = 4.6
y = 7.9

print(int(x + y))  # 11.xx -> 11
print(int(x) + int(y))   # 4 + 7

12
11

In [15]:
# str -> int으로 변환
p = '88.3'
# int(p) -> error
print(float(p))  
# string을 integer로 바꾸기 위해서는 부동 소수점으로 먼저 바꾸어야 함.

# ex.
q = '20.45'
int(float(q))

88.3

20

### *교수님의 꿀팁
#### print()의 사용 
- default : 띄어쓰기, 줄바꿈
- print()의 괄호 속에 2개 이상의 변수 -> 원소들 간 간격 설정
- 줄 바꾸기를 하지 않는 방법 -> ' ; '의 사용

In [17]:
print('orange', 'apple', 'tomato')  # default : 띄어쓰기, 줄바꾸기
print('the next line')

orange apple tomato
the next line

In [18]:
orange = 'orange'
apple = 'apple'
tomato = 'tomato'

#1. 
print(orange + apple + tomato) #''+'로 연결 가능하지만, 원소들 간 공백 사라짐
print(orange ,apple, tomato, sep = ' ', end = '\n')  # default
print(orange, apple, tomato, sep = '_', end = '\n\n')
# sep = ' ' -> 원소들 간 간격 설정(''안에 문자 혹은 기호 삽입, 공백도 가능), end = '\n' -> 줄바꿈(enter 1회), 
print('EOL')  # End Of Line

orangeappletomato
orange apple tomato
orange_apple_tomato

EOL

In [76]:
# 라인이 짧을 때 -> ;
orange = 'orange'; apple = 'apple'; tomato = 'tomato'  # 줄 바꾸기하지 않고 변수 선언

In [84]:
#예시(mine)
color = 'blue'; animal = 'elephant'; food = 'pizza'; num = '5'

print(color + animal + food + num)
print(color, animal, food, num, sep = '-', end ='\n')
print(color, animal, food, num, sep = '_and_',end = '\n\n')
print(int(float(num)))

blueelephantpizza5
blue-elephant-pizza-5
blue_and_elephant_and_pizza_and_5

5

### input()
 - console 에서 사용자에게 값을 입력 받는 함수(입출력과 관련)
 - 입력 받는 값의 자료형은 문자열(str)
 - 입력 받은 값을 변수에 담아서 사용한다.
 - input()함수를 문자열(str)이 아닌 다른 자료형(type)으로 사용하고 싶을 땐 형 변환을 미리 해준다.
 - 변수와 달리 함수를 나타날 때는 ()를 꼭 쓴다.

In [20]:
input("What's your name? ")

What's your name? 조혜령

'조혜령'

In [1]:
# 입력 받은 값을 어떻게 변수에 담아서 사용?
# 1. 
name = input("What's your name?")

What's your name? Cho

In [2]:
print(name)

 Cho

In [3]:
# 2.
print("What's your name? ")
name = input()

What's your name?
Cho

In [12]:
# input()함수를 str이 아닌 다른 타입으로 사용하고 싶다면 형 변환을 미리 해줌
age = input("How old are you? ")
print(age, type(age))  # str로 출력

How old are you? 21
21 <class 'str'>

In [85]:
print('당신이 태어난 해는', 2022 - age + 1, '년입니다.')  
# 연산 불가 -> 변수 age의 자료형이 문자열이기 때문

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [18]:
edad = int(input("How old are you? "))
print(edad, type(edad))  # int로 출력

How old are you? 21
21 <class 'int'>

In [19]:
# 정수형으로 변환 후 연산 가능
print('당신이 태어난 해는', 2022 - edad + 1, '년입니다.')

당신이 태어난 해는 2002 년입니다.

In [21]:
## Printing without single quote
print(f'당신이 태어난 해는 {2022 - edad + 1}년입니다.')
#1. print()함수 안 문장 앞에 f 입력
#2. 변수를 {}로 감싸기
# 불필요한 공백 제거 가능

당신이 태어난 해는 2002년입니다.

### Quiz 1
- 택배 정보를 입력 받고 무게에 따른 값 산정하기

   - 수취인 성명: 
   - 수취인 주소:
   - 배송비: 3000원
   - 물건 비용: <계산된 값>원
   - 총 합계: <계산된 값>
   
- 물건 비용은 무게(g) * 5
- 입력 값 = 이름, 주소, 무게

In [22]:
#Quiz1
name = input('성명을 입력하세요: ')
address = input('주소를 입력하세요: ')
weight = int(input('계산할 물건의 무게를(g)를 입력하세요: '))

delivery = 3000
cost = weight * 5
total = delivery + cost
print(f'수취인 성명: {name}')
print(f'수취인 주소: {address}')
print(f'배송비: {delivery}')
print(f'물건 비용: {cost}')
print(f'총 합계: {total}')

성명을 입력하세요: 조혜령
주소를 입력하세요: 경기도 고양시
계산할 물건의 무게를(g)를 입력하세요: 600
수취인 성명: 조혜령
수취인 주소: 경기도 고양시
배송비: 3000
물건 비용: 3000
총 합계: 6000

In [109]:
# 연습문제
#2-2. 값 5는 어떤 타입인가?
print(type(5))

#2-3. 값 2.0은 어떤 타입인가?
print(type(2.0))

#2-4. 표현식 5 + 2.0은 어떤 타입인가?
print(type(5 + 2.0))

<class 'int'>
<class 'float'>
<class 'float'>

## Ch03. Numbers
### boolean
 - True / False 의 값을 가짐
 - False인 값 : None, 0, ' '(공백), False
 - If문(조건식): "만약 어떤 값이 True면,..."
 - True와 False를 정수로 변환 -> 각각 1,0으로 반환

In [28]:
print(bool(0))
print(bool(None))
print(bool(False))

False
False
False

In [73]:
print(int(True))
print(int(False))

1
0

### integer
 - 분수나 소수가 아닌 정수
 - 음수는 '-'기호를 붙인다. (ex. -30)
 - default = 양수
 - 숫자 앞에는 0을 쓰지 못한다. (ex. 09)
      -0bxx -> 10진수 x
 - 숫자 사이에 쉼표를 쓰면 오류: 100,000(x) -> 쉼표를 쓰면 각기 다른 숫자로 인식한다.
 - 숫자 사이의 언더바는 인식하지 않는다.

In [29]:
a = 09  # 숫자 앞에 0 쓰면 error

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (Temp/ipykernel_12260/2890110653.py, line 1)

In [92]:
print(100,000)  # 숫자 중간에 쉼표를 쓰면 '십만'이 아니라 '100과 0'의 결과가 나옴
print(100_000)  # 그래서 숫자 사이에 언더바를 써서 '십만'으로 표현

100 0
100000

In [88]:
a = 50
b = -49
print(a + b, type(a + b))

1 <class 'int'>

### 연산자 | operator
 - `+ , -, *, /` (덧셈, 뺄셈, 곱셈, 나눗셈)
 - 피연산자 | operand : 1,2,...
 - 수식 | expression

In [70]:
x = 9
y = 4

# 연산
print(x + y)  # 더하기
print(x - y)  # 빼기
print(x * y)  # 곱하기
print(x / y)  # 부동소수점 나누기
print(x ** y)  # 거듭제곱 | exponential(지수)
print()

# 나눗셈 => 몫과 나머지가 나옴
print(x // y)  # 정수 나누기(몫만 나옴)
print(x % y)  # 나머지만 나옴

13
5
36
2.25
6561

2
1

In [93]:
divmod(x , y)  # 소수점을 제외한 {몫, 나머지}의 결과가 나옴

(1, 2)

In [35]:
# division by zero 항시 유의

In [94]:
1 +    3                  + 100 
# 숫자 사이의 공백은 무시됨

104

### 복합 대입 연산자 | compoun assignment operator

In [105]:
x = 5
print(x, type(x))

x += 3   # x = x + 3
print(x)

x -= 3   # x = x - 3
print(x)

x *= 2   # x = x * 3
print(x, type(x))

x /= 3  # x = x / 3
print(x,type(x))
print(int(x), type(x))

x **= 2  # x = x ** 3
print(x, type(x))
print(int(x), type(x))

x //= 5   # x = x // 3
print(x, type(x))
print(int(x), type(x))

x %= 3   # x = x % 3
print(x, type(x))

5 <class 'int'>
8
5
10 <class 'int'>
3.3333333333333335 <class 'float'>
3 <class 'float'>
11.111111111111112 <class 'float'>
11 <class 'float'>
2.0 <class 'float'>
2 <class 'float'>
2.0 <class 'float'>

In [38]:
x = 5
x - 3
print(x)
# 주의: x - 3이 계산되지 않음 -> 대입되지 않았기 때문

5

In [89]:
x = x - 3
print(x)

#1. x - 3 계산
#2. temp = x - 3 (임시변수에 담는다.)
#3. x = temp

6

In [90]:
# 예시
half_day = 12
half_day + 12 
print(half_day)  # half_day + 12가 대입되지 않음

one_day = half_day + 12
print(one_day)

12
24

### Quiz 1
- 반지름을 입력 받아서 원의 면적을 구하기
- 면적 = pi * r제곱

### Quiz 2
- 숫자를 입력 받고 3의 배수인지 확인하기
- 숫자를 입력 받고 홀수인지 확인하기

In [50]:
## Quiz 1.
radius = int(input('반지름의 길이를 입력하세요: '))
pi = 3.14
width = pi * (radius ** 2)
print(f'반지름의 길이는 {radius}이며, 원의 넓이는 {width}입니다.')

반지름의 길이를 입력하세요: 5
반지름의 길이는 5이며, 원의 넓이는 78.5입니다.

In [52]:
## Quiz 2.
num = int(input('숫자를 입력하세요: '))
if num % 3 == 0:
    print("이 수는 3의 배수입니다.")
else:
    print("이 수는 3의 배수가 아닙니다.")
    
if num % 2 != 0:
    print("이 수는 홀수입니다.")
else:
    print("이 수는 짝수입니다.")
    
# => True False 이용해서 다시해보기
num = int(input('숫자를 입력하세요: '))

숫자를 입력하세요: 10
이 수는 3의 배수가 아닙니다.
이 수는 짝수입니다.
숫자를 입력하세요: 2

### 지수 표현 (*floating point number)
- 예: '1.0e-4'
- e의 앞부분은 소수, 정수 둘 다 됨
- 뒷부분은 정수여야 함.
- 뒷부분은 소수점 자릿수를 의미함
- e, E 둘 다 사용 가능(대소문자 차이 없음)

In [53]:
1.0e-4

0.0001

In [54]:
# 0.0004005 => 지수로 표현하기
# 내가 만든 예시: 4005.0e-7
4.005e-4

0.0004005

### Ch03. 연습문제

In [67]:
#1. 1시간은 몇 초인가?
print(60 * 60)

#2. 계산한 결과를 seconds_per_hour 변수에 저장해보자.
seconds_per_hour = 60 * 60

#3. 1일은 몇 초인가? seconds_per_hour 변수를 사용해보자.
print(seconds_per_hour * 24)

#4. 게산한 결과를 seconds_per_day 변수에 저장해보자.
seconds_per_day = seconds_per_hour * 24

#5. 부동소수점(/) 나눗셈을 사용해서 seconds_per_day를 seconds_per_hour로 나누어보자.
print(seconds_per_day / seconds_per_hour)

#6. 정수(//) 나눗셈을 사용해서 seconds_per_day를 seconds_per_hour로 나눈다. 3.5 문제 결과에서 본 .0 부분을 제외하고 결과가 같은가?
print(seconds_per_day // seconds_per_hour)

3600
86400
24.0
24

# Ch04. if조건문
### 주석 달기
- `#` -> hash(해시), sharp(샤프), pound(파운드), ooctothorpe(옥토소프)
- `#` 시작 지점부터 같은 라인 끝까지가 주석 처리됨. 라인이 바뀌면 코드로 인식
-  `""" """`: 2줄 이상의 긴 주석을 쓸 때
- 문자열 안에 있는 sharp `#`는 부호로 인식한다.
- 이유 -> 코드에 대한 설명은 최대한 하지 않아야 함.(코드만 보고도 그 코드의 의미를 알아야 함 -> 코더의 실력) => 의도를 나타나기 위해, 혹은 오류가 있을 경우에 주석을 단다.


- 라인 유지하기
    - 들여쓰기 (default space 4개, 탭을 이용해서)
    - 논리 구조를 나타내기 때문에 굉장히 중요
    - 한 라인에 80자 정도 (백슬래시`\`로 라인을 끊어주기)
    - 줄 끝에 \ 입력하면, 파이썬은 다음 줄을 같은 줄로 인식

In [75]:
a = 3  #주석
"""
주석1
주석2
주석3
"""
print(a)

3

In [58]:
# but, hash가 문자열 안에 있다면 동작 x
print("hey, there #")
# `''' '''`(single quote)로도 나타낼 수 있음

hey, there #

In [107]:
num_set = (1 + \
+ 8 + 9) \
/ 4 * 2 \
- 4 \
+ 100

print(int(num_set))

105

### if
- if 조건문
    - if <조건식>:
          <실행할 코드>
- if-else 조건문
    - if <조건식>:
          <실행할 코드1>
      else:
           <실행할 코드2>
- if-elif-else 조건문
    - if <조건식>:
          <실행할 코드1>
      elif <조건식>:
           <실행할 코드3>
           ...
      else:
           <실행할 코드2>

In [74]:
if 3 == 1:
    print("두 수는 같지 않다.")

In [60]:
if 3 != 1:
    print("두 수는 같지 않다.")
else:
    print("두 수가 같다.")

두 수는 같지 않다.

In [61]:
a = 4
if a < 3:
    print("3보다 작다")
elif a == 3:
    print("3이다")
else:
    print("3보다 크다")
    
# 첫 번째 if문의 조건에 해당하지 않는다면, 다음 elif문으로 넘어감.

3보다 크다

In [91]:
if a < 3:
    print("3보다 작다")
if a == 3:
    print("3이다")
if a > 4:
    print("3보다 크다")
    
# 각각의 if문을 따로 인식하여 결과가 나오지 않음.

3보다 크다

### 비교 연산자
- x < y
- x > y
- x >= y
- x <= y
- x == y (값이 같음)
- x != y (값이 다름)
- x is y (값, 메모리주소)
- x is not y

### Quiz 3
- 1. 시험 점수를 입력 받고 80점 이상이며 True, 아니면 False 반환하기
- 2. 시험 점수를 입력 받고 95점 이상이면 A+, 90점 이상이면 A, 85점 이상이면 B+, 나머지는 F로 출력하세요.

In [63]:
#Quiz 3-1.
score = int(input("시험 점수를 입력하세요: "))
if score >= 80:
  print("True")
else:
  print("False")

시험 점수를 입력하세요: 90
True

In [65]:
#Quiz 3-2.
score = int(input("시험 점수를 입력하세요: "))
if score >= 95:
  print("A+")
elif score >= 90:
  print("A")
elif score >= 85:
  print("B+")
else:
  print("F")

시험 점수를 입력하세요: 94
A

In [112]:
## 연습문제

#4-1. 1~10 사이 숫자를 선택해서 secret 변수에 할당. 1~10 사이 다른 숫자 선택해서 guess변수에 할당. if, elif, else문 사용하여 guess변수가 secret 변수보다 작으면 'too low', 크면 'too high', 일치하면 'just right' 출력
secret = int(input('1~10 숫자 중 하나 선택: '))
guess = int(input('1~10 숫자 중 하나 선택(secret에서 선택한 숫자 제외): '))

if guess < secret:
    print("too low")
elif guess > secret:
    print("too high")
else:
    print("just right")

1~10 숫자 중 하나 선택: 4
1~10 숫자 중 하나 선택(secret에서 선택한 숫자 제외): 7
too high

In [116]:
#4-2. True나 False를 small과 green 변수에 할당. if,else문을 사용하여 작은 것(small)과 녹색(green)을 기준으로 체리, 완두콩, 수박, 호박(cherry, pea, watermelon, pumpkin) 출력
small = True
green = False
if green:
    if small:
        print('pea')
    else:
        print('watermelon')
else:
    if small:
        print('cherry')
    else:
        print('pumpkin')

cherry